<% layout('/layouts/boilerplate') %>

    <div class="form-page">
        <div class="form-wrapper">
            <h2 class="form-title">Welcome Back</h2>
            <p class="form-subtitle">Login to your Hotspot account</p>

            <form action="/login" method="POST" class="needs-validation" novalidate>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter username" class="form-control"
                        required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Username is required.</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter password"
                        class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Password is required.</div>
                </div>

                <button class="form-submit-btn">Login</button>

                <p class="form-redirect">
                    Don't have an account? <a href="/register">Register here</a>
                </p>

            </form>
        </div>
    </div>